.search__card__box {
  width: 300px;
  margin: 10px;
}

.search__card {
  display: flex;
  flex-wrap: wrap;
}

.search__form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 50px;
  margin: 50px;
  background: white;
}

.search__full-width {
  width: 100%;
}
