<div *ngIf="hotelsLoading$ | async">items are loading ...</div>
<div *ngIf="hotelsLoadError$ | async">Error ...</div>

<form [formGroup]="searchForm" class="search__form">
  <mat-form-field class="search__full-width">
    <input
      type="text"
      placeholder="Location"
      aria-label="Assignee"
      matInput
      formControlName="locationControl"
      [matAutocomplete]="auto"
      (change)="filteredLocations()"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Choose a date"
      formControlName="date"
      [min]="minDate"
      [satDatepicker]="resultPicker"
    />
    <sat-datepicker panelClass="hdd-datepicker" #resultPicker [rangeMode]="true"> </sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="resultPicker"></sat-datepicker-toggle>
  </mat-form-field>
</form>
<app-search-result [filterHotels]="filterHotels$ | async"></app-search-result>

<div *ngFor="let item of booking$ | async">
  {{ item.endDate }}
  {{ item.startDate }}
</div>
