<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">my app</span>

      <div
        fxShow="true"
        fxHide.lt-md
        class="tool-bar__navbar--web"
        *ngIf="user$ | async; else logout"
      >
        <button mat-button routerLink="/">search</button>
        <button mat-button *ngIf="user$ | async" routerLink="/profile">profile</button>

        <button mat-button (click)="onLogout()" *ngIf="user$ | async">logout</button>

        <button mat-button [matMenuTriggerFor]="menu" class="language">pl</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="language">pl</button>
          <button mat-menu-item class="language">en</button>
        </mat-menu>
      </div>

      <ng-template #logout>
        <div fxShow="true" fxHide.lt-md class="tool-bar__navbar--web">
          <button mat-button routerLink="/">search</button>
          <button mat-button (click)="onLogin()">login</button>

          <button mat-button [matMenuTriggerFor]="menu" class="language">pl</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="language">pl</button>
            <button mat-menu-item class="language">en</button>
          </mat-menu>
        </div>
      </ng-template>

      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
        class="tool-bar__navbar--mobile"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>close</a>

        <button mat-button (click)="onLogin()">login</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
