.tool-bar__navbar--mobile {
  display: block;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.tool-bar__navbar--web {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: capitalize;
}
button {
  text-transform: capitalize;
}
.language {
  text-transform: uppercase;
}
