.user-form__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eff5fb;
  border-radius: 20px;
  padding: 100px;
  width: 500px;

  height: auto;
  transition: all 1s ease-in-out;
}

.user-form__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
  background: lightgray;
  display: block;
  margin: 0 auto 40px;
  border-radius: 50%;
}
mat-form-field {
  width: 100%;
}

.user-form__bottom {
  display: flex;
  justify-content: space-between;
}

.user-form__btn {
  color: white;
  text-transform: uppercase;
}

.user-form__icon {
  &--done {
    color: #659db7;
  }
  &--error {
    color: red;
  }
}

mat-spinner {
  margin: 0 auto;
}

mat-dialog-content {
  min-height: 400px;
}
