<mat-dialog-content>
  <mat-card class="user-form__box" [ngClass]="{ 'user-form__box--height': registerForm }">
    <img
      class="user-form__img"
      src="https://valueadd.pl//themes/contrib/valueadd/assets/img/valueadd-logo.png"
    />
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-card-content>
        <mat-form-field *ngIf="registerForm">
          <input type="firstName" matInput placeholder="First Name" formControlName="firstName" />
          <mat-error
            *ngIf="
              loginForm.get('firstName').hasError('required') && loginForm.get('firstName').touched
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="registerForm">
          <input type="lastName" matInput placeholder="Last Name" formControlName="lastName" />
          <mat-error
            *ngIf="
              loginForm.get('lastName').hasError('required') && loginForm.get('lastName').touched
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="registerForm">
          <mat-icon
            *ngIf="loginForm.get('email').valid"
            matSuffix
            class="user-form__icon login__icon--done"
            >done</mat-icon
          >
          <mat-icon
            *ngIf="
              (loginForm.get('email').hasError('required') && loginForm.get('email').touched) ||
              loginForm.get('email').hasError('email')
            "
            matSuffix
            class="user-form__icon--error"
          >
            clear
          </mat-icon>
          <input type="email" matInput placeholder="Email" formControlName="email" />
          <mat-error
            *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched"
          >
            This field is required
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched"
          >
            Invalid email format.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="username" matInput placeholder="User name" formControlName="username" />
          <mat-error
            *ngIf="
              loginForm.get('username').hasError('required') && loginForm.get('username').touched
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon
            *ngIf="loginForm.get('password').valid"
            matSuffix
            class="user-form__icon login__icon--done"
            >done</mat-icon
          >
          <mat-icon
            *ngIf="
              loginForm.get('password').hasError('required') && loginForm.get('password').touched
            "
            matSuffix
            class="user-form__icon--error"
          >
            clear
          </mat-icon>
          <input type="password" matInput placeholder="Password" formControlName="password" />
          <mat-error
            *ngIf="
              loginForm.get('password').hasError('required') && loginForm.get('password').touched
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>

        <span>Remember</span>

        <p *ngIf="!registerForm" (click)="toggleForm()">Don’t have an account?</p>
        <p *ngIf="registerForm" (click)="toggleForm()">Already have an account?</p>
      </mat-card-content>
      <mat-card-actions class="user-form__bottom">
        <mat-checkbox formControlName="rememberMe">Checked</mat-checkbox>

        <button mat-flat-button class="user-form__btn" type="submit" color="primary">
          Sing up
        </button>
      </mat-card-actions>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions class="user-form__bottom">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
